/*
Great for backgrounds, text, and major elements for a sleek,
professional look
*/
$layout-background-color: #000000;

/*
 Ideal for accents, buttons, 
 or important headlines to draw attention and convey energy.
*/
$crimson-red: #dc143c;
/*
Vibrant and eye-catching, perfect for highlights that need
to stand out against the black background
*/
$scarlet-red: #ff2400;
/*
Offers a luxurious feel, suitable for elegant themes and
sections that require a deeper, rich red
*/
$ruby-red: #9b111e;
/*
A darker, more subdued red that works well for
professional and sophisticated designs
*/
$carmine-red: #960018;
/*
Conveys a sense of depth and elagance, excellent for 
creating a refined and authoritative look
*/
$burgundy-red: #800020;

/*
incorporating neutral colors like white (#FFFFFF)
or grey (e.g., #F5F5F5 for light grey or #7F7F7F for mid-grey)
can help balance the overall design, 
ensuring that it remains elegant and easy on the eyes.
*/
