@import "@/styles/core/colors";
@import url("https://fonts.cdnfonts.com/css/mrrobot");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  height: 100%;
}

body {
  background-color: $layout-background-color;
  color: #ffffff;
  height: 100%;
}

a {
  text-decoration: none;
}
