.home {
  height: 100%;
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  position: relative;
}

h1 {
  font-size: 7.2rem;
  line-height: 8rem;
  word-wrap: break-word;
  font-weight: lighter;
  color: #9b111e; /* Ruby color */
}

.home_container__section {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
